# https://dart.dev/guides/libraries/private-files
.dart_tool/
pubspec.lock

# Exclude pubspec.lock files for both server and shared packages
server/pubspec.lock
shared/pubspec.lock

# Exclude other unnecessary files and directories
**/.git
**/build
**/Dockerfile

**/build_complete
